body {
	font-family: 'Lato', sans-serif !important;
}

h2 {
	font-weight: 700 !important;
	margin-top: 4rem;
}

h4 {
	font-weight: 500 !important;
	line-height: 22px !important;
}

.main {
	margin-top: 7rem;
}

.tagline {
	margin-left: 3rem;
	margin-top: 5rem;
}

.iphone{
	width: 17.2rem;
  position: absolute;
  margin-top: 6em;
  margin-left: 3.2em;

}

.phoneframe {
  position: absolute;
}

.container {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.content {
	margin-top: 2rem;
}

.rewardsemail {
	box-shadow: none;
	border: 1px solid red;
	border-radius: 3px;
	height: 40px;
	width: 170px;
}

.rewardssubmit {
  margin-top: 10px;
  margin-left: -.4em;
  margin-right: 0em;
  border : solid 0px #ffffff;
  border-radius : 0px 3px 3px 0px;
  moz-border-radius : 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color : #ffffff;
  background-color : red;
  height: 40px;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

input#mc-embedded-subscribe {
	padding-top: 3px;
	margin-top: 2rem;
}

.rewardssubmit:hover {
	background-color: black;
}

input#mce-EMAIL, input#mce-PHONE {
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#mc_embed_signup form{
	padding: 0 !important;
}

@media all and (max-width:1200px){
  	body {
  		margin-left: 0 !important;
  	}

  	.main, .tagline{
  		margin-top: 0 !important;
  	}

  	.container {
  		margin-right: 20px !important;
  	}

  	.iphone, .phoneframe {
  		display: none;
  	}

  	.tagline {
  		margin-left: 0;
  	}

  	.rewardssubmit{
  		margin-left: 1px;
  		width: 100%;
  	}

  	input#mce-EMAIL, input#mce-PHONE {
  		margin-top: 15px;
  		width: 100%;
  	}
}

/*Thank you page*/
.thankyoutitle {
	margin-top: 2em;
}

.share-button {
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	background-color: #eb2a2a;
}

.share-wrapper {
	margin-top: 1em;
}

.sharelink {
	margin-top: 1em;
	font-size: 18px;
}