body {
	font-family: "Roboto", sans-serif;
}
.main {
	margin-top: 7rem;
}

.iphone{
	width: 50rem;
}

.container {
	margin-right: 0 !important;
}


.rewardsemail {
	box-shadow: none;
	border: 1px solid red;
	border-radius: 3px;
	height: 30px;
	width: 200px;
}

.rewardssubmit {
  margin-top: 10px;
  margin-left: -.4em;
  margin-right: 0em;
  border : solid 0px #ffffff;
  border-radius : 0px 3px 3px 0px;
  moz-border-radius : 3px;
  font-size : 16px;
  color : #ffffff;
  background-color : red;
  height: 30px;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.rewardssubmit:hover {
	background-color: black;
}

input#mce-EMAIL {
	padding-left: 10px;
}

#mc_embed_signup form{
	padding: 0 !important;
}

/*Thank you page*/
.thankyoutitle {
	margin-top: 2em;
}

.share-button {
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	background-color: #eb2a2a;
}

.share-wrapper {
	margin-top: 1em;
}

.sharelink {
	margin-top: 1em;
	font-size: 18px;
}